<h1 class="title"><%= title %></h1>

<hr><%= paginate @sale_orders %><hr>

<div class="table-container">
  <table class="table is-fullwidth is-hoverable">
    <tr>
      <th>#</th>
      <th class="has-text-right">Number</th>
      <th>Date</th>
      <th>Client</th>
      <th>Product</th>
      <th>Categories</th>
      <th class="has-text-right">Quantity</th>
      <th class="has-text-right">Price</th>
      <th class="has-text-right">Total</th>
    </tr>

    <% @sale_orders.each_with_index do |sale_order, index| %>
      <tr class="<%= sale_order.product.created_by_name == current_user.name ? 'has-background-info-90' : '' %>">
        <td><%= index + 1 %></td>
        <td class="has-text-right"><%= sale_order.sale_number %></td>
        <td><%= I18n.l(sale_order.sale_at, format: :long) %></td>
        <td><%= sale_order.client_name %></td>
        <td><%= sale_order.product_name %></td>
        <td><%= sale_order.product.product_categories_list %></td>
        <td class="has-text-right"><%= number_with_delimiter(sale_order.quantity, delimiter: '.', separator: ',') %></td>
        <td class="has-text-right"><%= number_with_delimiter(sale_order.price, delimiter: '.', separator: ',') %></td>
        <td class="has-text-right"><%= number_with_delimiter(sale_order.total, delimiter: '.', separator: ',') %></td>
      </tr>
    <% end %>
  </table>
</div>

<hr><%= paginate @sale_orders %><hr>
