<%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "label" %>
    <div class="control">
      <%= f.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :price, class: "label" %>
    <div class="control">
      <%= f.text_field :price, type: :number, class: "input" %>
    </div>
  </div>

  <label class="label">Images</label>
  <div id="product_images" class="block">
    <%= f.fields_for :product_images do |pi| %>
      <%= render "product_image_fields", f: pi %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :product_images, class: "button is-info" do %>
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
      <% end %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= link_to '<- Back', products_path, class: "button" %>
    </div>

    <% if @product.id.present? %>
      <div class="control">
        <%= link_to 'Show', @product, class: "button" %>
      </div>
    <% end %>

    <div class="control">
      <%= f.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
