<h1 class="title">Products</h1>

<%= link_to new_product_path, class: "button is-primary" do %>
  <span class="icon">
    <i class="fas fa-plus"></i>
  </span>
  <span>New Product</span>
<% end %>
<hr>

<div class="table-container">
  <table class="table is-fullwidth">
    <tr>
      <th>Name</th>
      <th class="has-text-right">Price</th>
      <th>Created by</th>
      <th></th>
    </tr>

    <% @products.each do |product| %>
      <tr class="<%= product.created_by_name == current_user.name ? 'has-background-info-90' : '' %>">
        <td><%= product.name %></td>
        <td class="has-text-right"><%= product.price %></td>
        <td><%= product.created_by_name %></td>
        <td>
          <div class="field is-grouped is-pulled-right">
            <%= render "buttons", product: product %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
