<div class="box-container">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <%= render "show_image", product: @product %>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p id="notice"><%= notice %></p>

        <p>
          <b>Name:</b>
          <%= @product.name %>
        </p>

        <p>
          <b>Price:</b>
          <%= number_with_delimiter(@product.price, delimiter: '.', separator: ',') %>
        </p>

        <p>
          <b>Created by:</b>
          <%= @product.created_by_name %>
        </p>

        <div class="field is-grouped">
          <div class="control">
            <%= link_to '<- Back', products_path, class: "button" %>
          </div>

          <div class="control">
            <%= link_to 'Edit', edit_product_path(@product), class: "button is-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
