<h1 class="title"><%= t("layouts.navbar.reports") %></h1>
<h2 class="subtitle">Api Reports with JWT authentication</h2>

<div class="content">
  <h5>JWT Token</h5>
  <p>Based in current user_id and JWT_SECRET_TOKEN from .env</p>
  <p><%= render "clipboard_field", value: @jwt_token %></p>

  <h5>JWT Testing</h5>

  <p>Deprecated V1 API</p>
  <p><%= render "clipboard_field", value: @apis[:deprecated_api] %></p>

  <p>Default V2 API</p>
  <p><%= render "clipboard_field", value: @apis[:jwt_testing] %></p>

  <h5>Most purchased products by each category</h5>
  <p>The url can receive products_limit param in url. Default value when not passed is 1. Format: url?products_limit=2</p>
  <p><%= render "clipboard_field", value: @apis[:most_purchased_products_by_each_category] %></p>

</div>
