<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag('ecom_logo.svg', alt: 'ECom') %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to root_path, class: "navbar-item #{active_home_menu?}" do %>
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span><%= t('.home') %></span>
      <% end %>
      <%= link_to products_path, class: "navbar-item #{active_products_menu?}" do %>
        <span class="icon">
          <i class="fas fa-cubes"></i>
        </span>
        <span><%= t('.products') %></span>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "#", class: "navbar-link" do %>
            <span class="icon">
              <i class="fas fa-user"></i>
            </span>
            <span><%= current_user.name %></span>
          <% end %>

          <div class="navbar-dropdown">
            <%= link_to "#", class: "navbar-item" do %>
              <span class="icon is-small">
                <i class="fas fa-user"></i>
              </span>
              <span>My Profile</span>
            <% end %>
            <hr class="navbar-divider">
            <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item" do %>
              <span class="icon is-small">
                <i class="fas fa-arrow-right-from-bracket"></i>
              </span>
              <span>Sign Out</span>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to "Sign up", new_registration_path(:user), class: "button is-link" %><br />
            <%= link_to "Log in", new_session_path(:user), class: "button is-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
