<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ECom</title>
  <%= favicon_link_tag 'ecom_logo.svg' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>

  <section class="section">
      <%= yield %>
  </section>
</body>
</html>
